html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
    margin-left: 7.5%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table-description {
    width: 85%;
    text-align: center;
    margin-left: 7.5%
}

.navbar-button {
    display: inline-block;
    border: 1px solid black;
    padding: 0px 10px 0px 10px;
}

.navbar-user-link {
    border: 1px solid black;
}

.navbar-avatar {
    display: inline-block;
    padding: 5px;
    max-height: 150px;
    max-width: 150px;
}

.navbar-username {
    display: inline-block;
    padding: 5px;
}
