<?xml version="1.0" encoding="utf-8" ?>
<root>
  <RootDirectory>C:\inetpub\</RootDirectory>
  <BaseDirectory>wwwroot\portal\Ownership\</BaseDirectory>
  <StaticDirectory>static</StaticDirectory>
  <PortalUrl>https://fcg-arcgis-srv.freedom.local/portal/</PortalUrl>
  <WhiteListedGroups>
    <Group>6349c41193684f6399faeadc19dff9d4</Group>
  </WhiteListedGroups>
</root>