<appender name="FileAppender" type="log4net.Appender.FileAppender">
  <file value="${DOT_NET_LOG_PATH}\log-file.txt" />
  <appendToFile value="true" />
  <encoding value="unicodeFFFE" />
  <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
  </layout>
</appender>